#html {
    font-family: Impact, sans-serif;
    color: red;
}
.testMargin{
    background-color: aquamarine;
    margin-top: 80px;
    margin-right: 40px;
    
}
.testBorder{
    border: 10px solid red;
    border-radius: 8px;
}
.testBoxshadow{
    background-color: rgb(1, 169, 113);
    margin-top: 80px;
    margin-right: 40px;
    box-shadow: 5px 10px 10px rgb(137, 202, 115);
}